[Desktop Entry]
Type=Application
Name=Sable
Comment=An almost stable Matrix client
Exec=sable %U
Icon=moe.sable.Sable
Terminal=false
Categories=Network;InstantMessaging;Chat;
StartupWMClass=sable
MimeType=x-scheme-handler/sable;x-scheme-handler/moe.sable.app;
